%tr
  %td= link_to entry.state, simulation_path(entry)
  %td= link_to entry.profile.name, profile_path(entry.profile)
  %td= link_to entry.number, simulation_path(entry)
  %td= link_to (entry.job_id != nil ? entry.job_id : "N/A"), simulation_path(entry)