%table.table.table-striped
  %thead
    %tr
      %th= sortable "state"
      %th= sortable "profile_name", "Profile"
      %th= sortable "_id", "Folder Number"
      %th= sortable "job_id"
  %tbody
    =render simulations
=paginate simulations, remote: true