%table.table.table-striped
  %thead
    %tr
      %th= sortable "state"
      %th Profile
      %th Account
      %th= sortable "number"
      %th= sortable "job_id"
  %tbody
    =render simulations
=paginate simulations, :remote => true