%table
  %tr
    %th State
    %th Profile
  -simulations.each do |simulation|
    -profile = simulation.game.profiles.find(simulation.profile_id)
    %tr{:class => "= cycle('','altrow') "}
      %td= link_to simulation.state, simulation
      %td= link_to profile.name, [simulation.game, profile]
%p= will_paginate simulations, :game_id => simulations[0].game.id