.breadcrumb
  .bc
    #{ link_to 'Home', root_path }  Simulations
%h3 Simulations
%p
  = label :game_id, "Choose a game"
  = collection_select :simulation, :game_id, Game.all, :id, :name
#simulation=render :partial => 'simulations'