.breadcrumb
  .bc
    #{ link_to 'Home', root_path }  Simulations
%h3 Simulations
%p
  = label :game_id, :select, "Choose a game"
  = grouped_collection_select :simulation, :game_id, Simulator.all, :games, :name, :id, :name
#simulation=render :partial => 'simulations', :locals => {:simulations => @simulations}