%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Type
      %th Simulator
      %th Active
  %tbody
    =render hierarchical_schedulers
=paginate hierarchical_schedulers, :remote => true