%h3 Profiles
%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Samples
  %tbody
    =render :partial => "profiles/profile", :collection => profiles
= paginate(profiles, :remote => true)