%h3 Profiles
%table.table.table-striped
  %thead
    %tr
      %th= sortable "name"
      %th Requested samples
      %th= sortable "sample_count"
  %tbody
    =render :partial => "profiles/profile", :collection => profiles
= paginate(profiles, :remote => true)