%h3 Profile Entries
%table
  %tr
    %th Name
    %th Payoff
    %th Standard Dev.
  =render partial: "payoffs", locals: {entry: entry}

%h3 Features
%table
  %tr
    %th Name
    %th Expected Value
    %th Average
    %th Standard Dev.
  =render :partial => "features", locals: {entry: entry}