%h3 Profile Entries
%table
  %tr
    %th Name
    %th Payoff
    %th Standard Dev.
  =render partial: "role_instance", collection: resource.role_instances

%h3 Features
%table
  %tr
    %th Name
    %th Average
    %th Standard Dev.
  =render :partial => "features", locals: {entry: entry}
