%h3 Payoff Data
%table.table.table-striped
  %thead
    %tr
      %th Role Name
      %th Strategy Name
      %th Payoff
      %th Standard Dev.
  %tbody
    =render partial: "role_instance", collection: profile.role_instances

%h3 Features
%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Average
      %th Standard Dev.
  %tbody
    =render :partial => "features"
