=show_for profile do |u|
  %h3 Profile Configuration
  = u.attribute :assignment
  = u.attribute :simulator_fullname, label: "Simulator"
  = u.attribute :sample_count
  %h3 Simulator Configuration
  = render partial: "schedulers/parameter", collection: profile.simulator_instance.configuration.to_a