.breadcrumb
  .bc
    #{ link_to 'Home', root_path }  Profiles
%h3 Profiles
%table
  %tr
    %th Name
    -@profiles.each do |profile|
      %tr{:class => "= cycle('','altrow') "}
        %td= link_to profile.name, [@game, profile]
        %td
      = link_to 'Destroy', [@game, profile], :confirm => 'Are you sure?', :method => :delete
= link_to 'New profile', new_profile_path

