config/initializers/setup_mail.rb
*.DS_Store
.autotest
.rspec
.bundle
db/*.sqlite3
log/*.log
tmp/**/*
public/public/uploads
public/uploads
simulators
db/*
spec/support/testaccount.rb
spec/fabricators/account_fabricator.rb
