/* line 4, ../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, ../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 7, ../../../app/stylesheets/application.scss */
p {
  padding: 0px 10px 10px 15px;
  margin: 0;
}

/* line 10, ../../../app/stylesheets/application.scss */
table {
  border-collapse: collapse;
  margin: 10px;
}

/* line 14, ../../../app/stylesheets/application.scss */
tr {
  background: #fff;
}

/* line 15, ../../../app/stylesheets/application.scss */
tr.altrow {
  background: #F9F9F9;
}

/* line 16, ../../../app/stylesheets/application.scss */
th, td {
  text-align: left;
  border-width: 1px;
  border-style: solid;
}

/* line 21, ../../../app/stylesheets/application.scss */
th {
  color: #868c56;
  background: #EFFAE6;
  padding: .8em 1em;
  border-color: #735134;
}

/* line 27, ../../../app/stylesheets/application.scss */
td {
  border-color: #735134;
  padding: .7em 1em;
}

/* line 32, ../../../app/stylesheets/application.scss */
a {
  text-decoration: none;
  color: #730202;
}

/* line 37, ../../../app/stylesheets/application.scss */
* {
  margin: 0;
}

/* line 40, ../../../app/stylesheets/application.scss */
html, body {
  height: 100%;
}

/* line 44, ../../../app/stylesheets/application.scss */
html {
  background-color: #868c56;
}

/* line 47, ../../../app/stylesheets/application.scss */
body {
  width: 950px;
  margin: 0 auto 0;
  background-color: white;
}

/* line 52, ../../../app/stylesheets/application.scss */
#root {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto -140px;
  /* the bottom margin is the negative value of the footer's height */
}

/* line 58, ../../../app/stylesheets/application.scss */
#footer, #root_footer {
  height: 140px;
}

/* line 62, ../../../app/stylesheets/application.scss */
#object_nav {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
  -moz-box-align: stretch;
  -webkit-box-align: stretch;
  box-align: stretch;
  height: 28px;
  width: 100%;
  background-color: #c00000;
  text-align: center;
  line-height: 28px;
}
/* line 71, ../../../app/stylesheets/application.scss */
#object_nav :hover {
  background-color: #730202;
}
/* line 74, ../../../app/stylesheets/application.scss */
#object_nav #box {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  display: block;
}

/* line 79, ../../../app/stylesheets/application.scss */
#bar {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
  -moz-box-align: stretch;
  -webkit-box-align: stretch;
  box-align: stretch;
  height: 109px;
  width: 100%;
  background-color: #dbbd65;
}
/* line 86, ../../../app/stylesheets/application.scss */
#bar #first_box {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  display: block;
  margin: -8px -4px 0px 0px;
  font-size: 85%;
  border: solid #735134;
  border-left-width: 8px;
  border-top-width: 8px;
  border-bottom-width: 8px;
  border-right-width: 4px;
}
/* line 96, ../../../app/stylesheets/application.scss */
#bar #middle_box {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  display: block;
  margin: -8px -4px 0px -4px;
  font-size: 85%;
  border: solid #735134;
  border-left-width: 4px;
  border-top-width: 8px;
  border-bottom-width: 8px;
  border-right-width: 4px;
}
/* line 106, ../../../app/stylesheets/application.scss */
#bar #last_box {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  display: block;
  margin: -8px 0px 0px -4px;
  font-size: 85%;
  border: solid #735134;
  border-left-width: 4px;
  border-top-width: 8px;
  border-bottom-width: 8px;
  border-right-width: 8px;
}
/* line 116, ../../../app/stylesheets/application.scss */
#bar p {
  padding: 0px 10px;
}

/* line 121, ../../../app/stylesheets/application.scss */
#copyright {
  display: inline;
  float: left;
  margin-right: 0;
  width: 910px;
  padding-right: 40px;
  text-align: right;
  color: white;
  line-height: 2em;
  height: 32px;
  background-color: #730202;
}
/* line 138, ../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #copyright {
  overflow-x: hidden;
}

/* line 130, ../../../app/stylesheets/application.scss */
#main_section {
  background-color: white;
  margin-bottom: 8px;
  padding: 10px;
  padding-left: 40px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 870px;
  padding-right: 40px;
}
/* line 138, ../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #main_section {
  overflow-x: hidden;
}

/* line 139, ../../../app/stylesheets/application.scss */
#side_nav {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 150px;
  padding-right: 40px;
}
/* line 138, ../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #side_nav {
  overflow-x: hidden;
}

/* line 143, ../../../app/stylesheets/application.scss */
#top_header {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  background-color: #730202;
  color: white;
}
/* line 147, ../../../app/stylesheets/application.scss */
#top_header h1 {
  margin-top: 7px;
  margin-bottom: 7px;
  padding-left: 40px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
/* line 138, ../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #top_header h1 {
  overflow-x: hidden;
}
/* line 153, ../../../app/stylesheets/application.scss */
#top_header a {
  color: white;
}
/* line 156, ../../../app/stylesheets/application.scss */
#top_header #user_nav {
  display: inline;
  float: left;
  margin-right: 0;
  width: 550px;
  padding-right: 40px;
  text-align: right;
  margin: 37px 0px 0px;
}
/* line 138, ../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #top_header #user_nav {
  overflow-x: hidden;
}

/* line 164, ../../../app/stylesheets/application.scss */
h2, h3, h4 {
  font: bold 1em/1.5em Georgia, "Times New Roman", Times, serif;
  color: #444;
  padding: 10px 15px 7px 15px;
}

/* line 170, ../../../app/stylesheets/application.scss */
h1 {
  font-size: 3.2em;
  font-weight: normal;
  letter-spacing: -2px;
}

/* line 171, ../../../app/stylesheets/application.scss */
h2 {
  font-size: 2.4em;
  font-weight: normal;
  color: #663333;
}

/* line 172, ../../../app/stylesheets/application.scss */
h3 {
  font-size: 1.8em;
  font-weight: normal;
  letter-spacing: -0.5px;
  padding-top: 10px;
}

/* line 173, ../../../app/stylesheets/application.scss */
h4 {
  font-size: 1.3em;
}

/* line 175, ../../../app/stylesheets/application.scss */
.button {
  border-top: 1px solid #4a0c0c;
  background: #a62626;
  background: -webkit-gradient(linear, left top, left bottom, from(#730206), to(#a62626));
  background: -moz-linear-gradient(top, #730206, #a62626);
  padding: 12px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  width: 183px;
  margin: 5px;
  -webkit-box-shadow: black 0 1px 0;
  -moz-box-shadow: black 0 1px 0;
  box-shadow: black 0 1px 0;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
  color: white;
  font-size: 20px;
  font-family: Georgia, serif;
  text-decoration: none;
  vertical-align: middle;
  text-align: center;
  float: left;
}

/* line 198, ../../../app/stylesheets/application.scss */
.button a {
  color: white;
}

/* line 201, ../../../app/stylesheets/application.scss */
.button:hover {
  border-top-color: #730206;
  background: #730206;
  color: #ebe2eb;
}

/* line 206, ../../../app/stylesheets/application.scss */
.button:active {
  border-top-color: #661616;
  background: #661616;
}

/* line 211, ../../../app/stylesheets/application.scss */
label {
  color: #868c56;
}

/* line 215, ../../../app/stylesheets/application.scss */
input:focus, select:focus, textarea:focus {
  color: #000;
  background: #EFFAE6;
}
