%tr
  %td= link_to entry.name, simulator_path(entry)
  %td= link_to entry.version, simulator_path(entry)
  %td= link_to entry.description, simulator_path(entry)
  %td= link_to 'Destroy', url_for(:action => "destroy", :id => entry.id), :confirm => 'Are you sure?', :method => :delete