%table.table.table-striped
  %thead
    %tr
      %th= sortable "name"
      %th= sortable "version"
      %th= sortable "description"
  %tbody
    =render simulators
= paginate simulators, :remote => true