%h3 Roles/Strategies
=render :partial => "role", :collection => simulator.roles
.action
  =form_tag url_for(:action=> "add_role", :id => simulator.id), :method=>:post do
    = text_field_tag :role
    = submit_tag "Add Role"