%tr
  %td= link_to simulator.name, simulator_path(simulator.id)
  %td= link_to simulator.version, simulator_path(simulator.id)
  %td= link_to simulator.description, simulator_path(simulator.id)
  %td= link_to 'Destroy', simulator_path(simulator.id), :confirm => 'Are you sure?', :method => :delete