%tr
  %td= link_to simulator.name, simulator
  %td= link_to simulator.version, simulator
  %td= link_to simulator.description, simulator
  %td
    = link_to 'Destroy', simulator, data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-mini btn-danger'