%h3 Simulator Information
%table
  %tr
    %th Name:
    %td= @simulator.name
  %tr
    %th Version:
    %td= @simulator.version
  %tr
    %th Description:
    %td= @simulator.description
%p= link_to 'Edit simulator', edit_simulator_path(@simulator)

%h3 Strategies
#strategies=render :partial => 'strategies', :locals => {:simulator => @simulator}