%h2= "#{resource_class.to_s.pluralize.titleize}"
=render :partial => 'new_links'
%table
  %tr
    =render :partial => 'headers'
  =render :partial => 'entry', :collection => @collection
=paginate @collection
=render :partial => 'index_actions'