%table.table.table-striped
  %thead
    %tr
      %th= sortable("name")
      %th= sortable("_type", "Type")
      %th= sortable("simulator_fullname", "Simulator")
      %th= sortable("active", "Active?")
  %tbody
    =render :partial => "scheduler", :collection => schedulers
=paginate schedulers, :remote => true