%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Type
      %th Simulator
      %th Active
  %tbody
    =render :partial => "scheduler", :collection => schedulers
=paginate schedulers, :remote => true