/ = link_to 'New Generic Scheduler', new_scheduler_path, :class => 'btn btn-primary'
= link_to 'New Game Scheduler', new_game_scheduler_path, :class => 'btn btn-primary'
= link_to 'New Hierarchical Scheduler', new_hierarchical_scheduler_path, :class => 'btn btn-primary'
= link_to 'New Deviation Scheduler', new_deviation_scheduler_path, :class => 'btn btn-primary'