%h3 New Control Variate Adjustment
%h4 Select Control Variables
#feature=render :partial => 'features', :locals => {:game => @game, :cv_features => @cv_features, :feature_options => @feature_options, :control_variate => @control_variate}