%tr
  = render :partial => 'documents/field', :collection => index_fields(entry)
  %td= link_to 'Destroy', url_for(:action => "destroy", :id => entry.id), :confirm => 'Are you sure?', :method => :delete