%h3 Roles/Strategies
=render :partial => "role", :collection => entry.roles, locals: {entry: entry}
.action
  -temp = entry.roles.collect{|r| r.count}.reduce(:+)
  -if temp == nil || entry.size-temp > 0
    =form_tag url_for(:action=> "add_role", :id => entry.id), :method=>:post do
      = select_tag "role", options_for_select(entry.simulator.roles-entry.roles)
      = text_field_tag "role_count", nil, size: 30, placeholder: "Number of players in role..."
      = submit_tag "Add Role"
= link_to "Download EGAT XML", url_for(:action => "show", :format => "xml")