%h3 Roles/Strategies
=render :partial => "role", :collection => entry.role_strategy_hash.keys, locals: {entry: entry}
.action
  =form_tag url_for(:action=> "add_role", :id => entry.id), :method=>:post do
    = select_tag "role", options_for_select(entry.simulator.role_strategy_hash.keys-entry.role_strategy_hash.keys)
    = submit_tag "Add Role"
= link_to "Download EGAT XML", url_for(:action => "show", :format => "xml")