%h3 Find Games

= form_tag '/games/show', :method => 'get' do
  %p
    =label :search, :run_time_configuration_id, "Run time configuration"
    =grouped_collection_select :search, :run_time_configuration_id, Simulator.all, :run_time_configurations, :fullname, :id, :name
    =submit_tag "View game", :name => nil