.breadcrumb
  .bc
    #{ link_to 'Home', root_path }  Games
%h3 Games
%p= link_to 'New game', new_game_path
%p
  = label :simulator, :id, "Simulator"
  = collection_select :simulator, :id, Simulator.all, :id, :fullname
#game=render :partial => 'games'



