%h3 Show Game

%table
  %tr
    %th= "Run time configuration"
    %td= @parameters

%h3 Profiles
%table
  %tr
    %th Name
    %th Samples
  =render :partial => "shared/profile", :collection => @profiles
= paginate(@profiles)