// Here is where you can define your constants for your application and to configure the blueprint framework.
// Feel free to delete these if you want keep the defaults:

$blueprint-grid-columns: 24;
$blueprint-container-size: 950px;
$blueprint-grid-margin: 10px;

// Use this to calculate the width based on the total width.
// Or you can set $blueprint-grid-width to a fixed value and unset $blueprint-container-size -- it will be calculated for you.
$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin;
$header-color: #730202;
$nav-color: #C00000;
$header-text-color: white;
$background-color: #868c56;
$footer-color: #dbbd65;

@import "blueprint/grid";
@import "compass/layout/sticky-footer";
@import "compass/css3";

p{
    margin-top: 10px;
}
table {
    border-collapse: collapse;
    margin-top: 10px;
}
tr { background: #fff; }
tr.altrow { background: #F9F9F9;    }
th, td {
    text-align: left;
    border-width: 1px;
    border-style: solid;
}
th {
    color: #868c56;
    background: #EFFAE6;
    padding: .8em 1em;
    border-color: #735134;
}
td {
    border-color: #735134;
    padding: .7em 1em;
}

a {
    text-decoration: none;
    color: $header-color;
}

* {
    margin: 0;
}
html, body {
    height: 100%;
}

html{
    background-color: $background-color;
}
body {
    width: $blueprint_container_size;
    margin: 0 auto 0;
    background-color: white;
}
#root{
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -32px; /* the bottom margin is the negative value of the footer's height */
}

#footer, #root_footer{
    height: 32px;
}

#object_nav{
    @include display-box;
    @include box-orient(horizontal);
    @include box-align(stretch);
    height: 28px;
    width: 100%;
    background-color: $nav-color;
    text-align: center;
    line-height: 28px;
    :hover{
        background-color: $header-color;
    }
    .box{
        @include box-flex(1);
    }
}

.action {
  margin-top: 10px;
}

#bar{
    @include display-box;
    @include box-orient(horizontal);
    @include box-align(stretch);
    height: 109px;
    width: 100%;
    background-color: $footer-color;
    #first_box{
        @include box-flex(1);
        margin: -8px -4px 0px 0px;
        padding: 10px;
        font-size: 85%;
        border: solid #735134;
        border-left-width: 8px;
        border-top-width: 8px;
        border-bottom-width: 8px;
        border-right-width: 4px;
    }
    #middle_box{
        @include box-flex(1);
        margin: -8px -4px 0px -4px;
        padding: 10px;
        font-size: 85%;
        border: solid #735134;
        border-left-width: 4px;
        border-top-width: 8px;
        border-bottom-width: 8px;
        border-right-width: 4px;
    }
    #last_box{
        @include box-flex(1);
        margin: -8px 0px 0px -4px;
        font-size: 85%;
        padding: 10px;
        border: solid #735134;
        border-left-width: 4px;
        border-top-width: 8px;
        border-bottom-width: 8px;
        border-right-width: 8px;
    }
    p{
        padding: 0px 10px;
    }
}

#copyright{
    @include column(23, true);
    @include append(1);
    text-align: right;
    color: white;
    line-height: 2em;
    height: 32px;
    background-color: $header-color;
}
#main_section{
    background-color: white;
    margin-bottom: 8px;
    padding: 20px;
    @include prepend(1);
    @include column(22, true);
    @include append(1);
}

#side_nav{
    @include column(4);
    @include append(1);
}
#top_header {
    @include container;
    background-color: $header-color;
    color: $header-text-color;
    h1 {
        margin-top: 7px;
        margin-bottom: 7px;
        @include prepend(1);
        @include column(8);
    }
    a {
        color: $header-text-color;
    }
    #user_nav {
        @include column(14, true);
        @include append(1);
        text-align: right;
        margin: 37px 0px 0px;
    }
}

h2, h3, h4 {
    font: bold 1em/1.5em Georgia, 'Times New Roman', Times, serif;
    color: #444;

}

h1 { font-size: 3.2em; font-weight: normal; letter-spacing: -2px; }
h2 { font-size: 2.4em; font-weight: normal; color: #663333; }
h3 { font-size: 1.8em; font-weight: normal; letter-spacing: -0.5px; padding-top: 10px}
h4 { font-size: 1.3em; }

code {
    margin: 3px 0;
    padding: 15px;
    text-align: left;
    display: block;
    overflow: auto;
    font: 500 0.9em 'Lucida Console', 'Courier New', Monospace ;
    /* white-space: pre; */
    border: 1px solid #F0F0F0;
    background: #f8f8f8;
}
#ind {
    text-indent: 12px;
}

.butt {
   border-top: 1px solid #4a0c0c;
   background: #a62626;
   background: -webkit-gradient(linear, left top, left bottom, from(#730206), to(#a62626));
   background: -moz-linear-gradient(top, #730206, #a62626);
   padding: 12px;
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 7px;
   width: 250px;
   margin-top: 10px;
   margin-left: 10px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 20px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   text-align: center;
   float: left;
   }
.butt a {
    color: white;
}
.butt:hover {
   border-top-color: #730206;
   background: #730206;
   color: #ebe2eb;
   }
.butt:active {
   border-top-color: #661616;
   background: #661616;
   }

label {
    color: #868c56;
}

input:focus, select:focus, textarea:focus {
    color: #000;
    background: #EFFAE6;
}

select {
  margin-bottom: 10px;
}

.simple_form div.input {
  margin-bottom: 10px;
}

.simple_form label {
  float: left;
  width: 200px;
  text-align: right;
  margin: 2px 10px;
}

div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

div.boolean label, label.collection_radio {
  float: none;
  margin: 0;
}

label.collection_radio {
  margin-right: 10px;
  vertical-align: -2px;
  margin-left:   2px;
}

.simple_form .error {
  clear:   left;
  color:   #c00000;
  display: block;
  margin-left: 120px;
  font-size:    16px;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  font-size:    16px;
  color: #555;
  display: block;
  font-style: italic;
}

input.radio {
  margin-right: 5px;
  vertical-align: -3px;
}

input.check_boxes {
  margin-left: 3px;
  vertical-align: -3px;
}

label.collection_check_boxes {
  float: none;
  margin: 0;
  vertical-align: -2px;
  margin-left:   2px;
}