.breadcrumb
  .bc
    #{ link_to 'Home', root_path } #{link_to 'PBS Generators', pbs_generators_path} Show PBS Generator
%h3 PBS Generator Information
%table{:width => "90%"}
  %tr{:class => "<%= cycle('','altrow') %>"}
    %th Time Allotted per Sample:
    %td=h @pbs_generator.time_per_sample
  %tr{:class => "<%= cycle('','altrow') %>"}
    %th Jobs per Request:
    %td=h @pbs_generator.jobs_per_request
  %tr{:class => "<%= cycle('','altrow') %>"}
    %th Process Memory:
    %td=h @pbs_generator.process_memory
  %tr{:class => "<%= cycle('','altrow') %>"}
    %th QoS:
    %td=h @pbs_generator.qos
%p= link_to 'Edit PBS Generator', edit_pbs_generator_path(@pbs_generator)

