- configuration.each_pair do |x, y|
  .control-group.string.required
    %abbr{"title"=>"required"}
      *
    = label :selector, "configuration[#{x}]", x.humanize, class: "string required control-label"
    .controls
      = text_field :selector, "configuration[#{x}]", value: y, class: "string required"