- parameters.each_pair do |x, y|
  .control-group.string.required
    %abbr{"title"=>"required"}
      *
    = label :selector, "parameter_hash[#{x}]", x.humanize, :class => "string required control-label"
    .controls
      = text_field :selector, "parameter_hash[#{x}]", :value => y, :class => "string required"