-if Simulator.all.count == 0
  %p Cannot construct this object without a simulator defined
-else
  = label :selector, :simulator_id
  = collection_select :selector, :simulator_id, Simulator.all, :id, :fullname
  #param= render :partial => "simulator_selector/parameters", :object => Simulator.first.parameter_hash