%h3 Feature Information
%p= link_to 'Edit feature', edit_game_feature_path(@game, @feature)
%table
  %tr
    %th Name:
    %td=h @feature.name
  %tr
    %th Expected Value:
    %td= @feature.expected_value
  %tr
    %th Average Value:
    %td= @feature.sample_avg
  %tr
    %th Number of Samples:
    %td= @feature.sample_count

